# Computational Science

## Imports

In [1]:
import pandas as pd
import seaborn as sns

## Eulers Method

![Eulers](https://i.imgur.com/MPAQeOI.jpg)

In [2]:
def EulersEquation(U,x):
    f = -2*x +2*U
    return f

def IntergationCount (h,i):
    OGStep = h
    Count  = 0
    S = False
    if (i == 0):
        S = True

    while S == False:
        Count = Count + 1
        if (Count*OGStep == i):
            S = True
            
    return Count

def Eulers(a,b,h,T,i):
    df1 = pd.DataFrame({"T":[],"X":[],"U":[]}) #declare dataframe structure 
    t =a #time at pos 0
    x= b  #inital on x
    Count = 0
    
    IntegrationCount = IntergationCount(h,i)
    
    while t<=T: #while time < initial time
        if (t<0 or t<=5):
            U = 2
        elif (t<5 or t<=10):
            U = 1
        elif (t<10 or t<=15):
            U =3
    
        k = h*EulersEquation(U,x) #perform equation
        x = x +k # add predition 
        t = t+h #increase step 
        Count = Count + 1
        
        if (Count >= IntegrationCount):
            df2 = pd.DataFrame({"T":[t],"X":[x],"U":[U]}) #get result of eulers in dataframe
            df1 = df1.append(df2) #append to dataframe
            Count = 0
            
    df1.reset_index(inplace=True)
    df1 = df1.drop(columns=['index'])
    return df1 # return dataframe

## Perform Eulers

(Returns as Pandas Dataframe)

In [3]:
print ("Enter xInitial")
xInit = float (input())
print ("Enter yInitial")
yInit = float (input())
print ("Enter Step Size")
Step = float (input())
print ("Enter Time")
Time = float (input())
print ("Enter Sample Integral (To Print all put 0 )")
Integration = float (input())


df1 = Eulers(xInit,yInit,Step,Time,Integration)
df1

Enter xInitial
0
Enter yInitial
0
Enter Step Size
0.1
Enter Time
50
Enter Sasmple Integral (To Print all put 0 )
0

        T        X    U
0     0.1  0.40000  2.0
1     0.2  0.72000  2.0
2     0.3  0.97600  2.0
3     0.4  1.18080  2.0
4     0.5  1.34464  2.0
..    ...      ...  ...
495  49.6  3.00000  3.0
496  49.7  3.00000  3.0
497  49.8  3.00000  3.0
498  49.9  3.00000  3.0
499  50.0  3.00000  3.0

[500 rows x 3 columns]

### Export to CSV (if required)

In [5]:
print ("Please Enter Filepath to save to CSV")
filepath = input()
#export_csv = df1.to_csv (filepath + "\ComputationalRobot.csv")

C:\Users\James\Desktop

## Plot graphs

In [ ]:
plt1 = sns.lineplot(x="T", y="X", data=df1)

In [ ]:
plt2 = sns.lineplot(x="T", y="U", data=df1)

In [ ]:
plt1 = sns.lineplot(x="T", y="X", data=df1)
plt2 = sns.lineplot(x="T", y="U", data=df1)
plt1
plt2